/* Webpage Theme */

:root{
  --purple:purple; 
  --hotpink: hotpink;
  --blackish: hsl(206, 17%, 28%);
  --Sans-serif: sans-serif;
  }

/* Universal Selector Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* HTML Tags Styles */

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  font-family: var(--Sans-serif);
  background-color: #f9fbfd;
}

/* Unordered List Properties */

ul {
  list-style: none;
}

/* Navigation Bar Properties */
.navleft {
  font-family:  var(--Sans-serif);
  color: var(--purple);
  position:absolute;
  top: 5px;
  left: 10px;
  cursor: pointer;
}

.navleft:hover{
  color: var(--hotpink);
}

.navright{
  
  float: right;
  font-family:  var(--Sans-serif);
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 50px;

}

/* Timer Properties */
#countdown{
  
  float: right;
  font-family:  var(--Sans-serif);
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 15px;

}
/* Header Properties */

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: var(--blackish);
}

/* Enter Initials Box Properties */

input {
  width: 40%;
  padding: 12px 12px;
  margin: 8px 8px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Question Choices Properties */

.choice-text{
  width: 200px;
  border: none;
  background-color: var(--purple);
  border-radius: 8px;
  font-size: 16px;
  color: white;
  padding: 10px;
  cursor: pointer;

}
.choice-text:hover{
background-color: var(--hotpink);
}


/*Main Box Properties */
.card{
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: var(--blackish);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  position:relative;
}

/*Correct or Wrong Feedback Properties */
.feedback {
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/* Button Properties */
.btn, .submit-btn {
  border: none;
  background-color: var(--purple);
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}
.btn:hover, .submit-btn:hover{
  background-color: var(--hotpink);
  }

#startAgain {
  margin-left:0px;
}

#start-button{
  margin-left: 35%;
}

/* Quiz Sections */
#all-done, #quiz-questions, #high-scores {
  display:none;
  margin-top:100px;
}

/* Score Box Properties */
.card-last p{
  margin-right:80px;
  background: lavender;
  padding:5px;
}

/* Media Query for Responsive Design */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
